/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

/*
    @import url('../lib/bootstrap/dist/css/bootstrap.min.css');
*/

[data-bs-theme=light] {
    --site-bg: #f8f9f2;
    --link-green: #00cc07;
    --font-color-themed: #1a1103;
    --font-color-themed-secondary: #694e24;
    --primary-green: #82c955;
    --secondary-green: #6eb045;
    --tertiary-green: #62a13b;
    --tone-color: #FFB534;
}

[data-bs-theme=dark] {
    --site-bg: #212121;
    --link-green: #b1c7b2;
    --font-color-themed: #F0E9E0;
    --font-color-themed-secondary: #cfc3b4;
    --primary-green: #5d8d5d;
    --secondary-green: #72a75b;
    --tertiary-green: #81b869;
    --tone-color: #E59D00;
}

body {
    background-color: var(--site-bg); /* Set the background color of the body element */
}

nav {
    background-color: var(--primary-green);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: var(--link-green);
}

.form-control:focus {
    border-color: var(--link-green);
    box-shadow: 0 0 0 0.2rem var(--link-green);
}

.btn-primary {
    --bs-btn-color: var(--font-color-themed);
    --bs-btn-bg: var(--primary-green);
    --bs-btn-border-color: var(--secondary-green);
    --bs-btn-hover-color: var(--font-color-themed);
    --bs-btn-hover-bg: var(--secondary-green);
    --bs-btn-hover-border-color: var(--primary-green);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--font-color-themed);
    --bs-btn-active-bg: var(--tertiary-green);
    --bs-btn-active-border-color: var(--primary-green);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--font-color-themed);
    --bs-btn-disabled-bg: #0cf720;
    --bs-btn-disabled-border-color: #0cf720;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--font-color-themed);
    background-color: var(--tertiary-green);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--font-color-themed);
    background-color: var(--primary-green);
    border-color: var(--secondary-green);
}

.nav-link {
    color: var(--font-color-themed);
}
    .nav-link:hover {
        color: var(--font-color-themed-secondary);
    }

.btn-link.nav-link:focus {
    outline: black auto 1px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.thumbnail-image-small {
    display: block;
    max-width: 300px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.thumbnail-image-big {
    display: block;
    max-width: 10000px;
    max-height: 400px;
    width: auto;
    height: auto;
}