@page "/"

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to charity system!</title>
    <style>
    h1 {
    font-size: 5em; /* 40px/16=2.5em */
    }

    h2 {
    font-size: 4em; /* 30px/16=1.875em */
    }

    h3 {
    font-size: 3em; /* 30px/16=1.875em */
    }

    h4 {
    font-size: 2em; /* 30px/16=1.875em */
    }
    </style>
</head>
<body>
    <h4>Welcome to the charity system!</h4>
    <hr />
    <h3>Help us</h3>
    <h2>Help you</h2>
    <h1>Help others</h1>
</body>
</html>